body{
    background: rgb(248, 234, 191);
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}

.main{
    border-radius: 20px;
    margin: 50px auto;
    width: 60vw;
    max-width: 700px;
    min-width: 300px;
    padding-bottom: 2em;
    background: rgb(249, 224, 197);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    padding-top: 20px;
    text-align: center; 
    font-size: 40;
}

p{
    text-align: center; 
    font-size: 20;
    padding-bottom: 5px;
}

.top label{
    font-size: 20px;
    margin-bottom: 10px;
} 

.top input{
    width:50%;
    display: block;
    margin-bottom: 15px;
    background-color: rgb(245, 235, 222);
    border: 1px  sandybrown;
    border-radius: 15px;
    height:30px;
    padding: 10px;
}

.top{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.choice{
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.each-choice{
    font-size: 18px;
    margin: 5px;
}

textarea{
    display: block; 
    font-size: 17px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.bio-1{
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.last{
    font-weight: bold;
    font-size: 17px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sub{
    color: aliceblue;
    cursor: pointer;
    border-radius: 40px;
    padding: 10px;
    border: none;
    margin-left: 300px;
    margin-top: 20px;
    width: 100px;
    background-color: rgb(54, 54, 201);
    transition: opacity 0.15s;
}

.sub:hover{
    opacity: 0.8;
}

.sub:active{
    background-color: rgb(11, 11, 130);
}